@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;

    font-family: "Inconsolata", monospace;
    font-size: 8vmin;
    line-height: 8.1vmin;
    font-weight: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content {
    min-width: 122vmin;
    min-height: 82vmin;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 1px white;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow:0 0 0 1px white;
}

@media only screen and (min-width: 768px){
    body {
        font-size: 4.5vmin;
        line-height: 6.6vmin;
    }

    #content {
        min-width: 10vmin;
    }
}

